
#searchForm .w10 {
	width: 10%;
}

#searchForm .w15 {
	width: 15%;
}

#searchForm .w20 {
	width: 20%;
}

#searchForm .w25 {
	width: 25%;
}

#searchForm .w40 {
	width: 40%;
}

#searchForm .f-left {
	float: left;
}

#searchForm .f-right {
	float: right;
}

.container .table tr td {
	height: 51px;
	text-align: center;
}

.container .table tr th {
	text-align: center;
}

.container .table {
	margin-bottom: 5px;
	margin-top: 5px;
}

.container .navbar{
	margin-bottom: 20px;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
	border-bottom-width: 1px;
}

.container .pagination{
	margin: 0 0 0 auto;
}

.table > tbody > tr > td{
	vertical-align: middle;
}

.pagination > li > a{
	width: 50px;
	text-align: center;
}

.container .container-searcher .input-group-addon:first-child{
	border-left: 1px solid #ccc;
	border-right: 0px;
}

.container .container-searcher .input-group-addon{
	border-left: 0px;
	border-right: 0px;
}